body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3 {
  color: #2e2f42;
}

ul {
  list-style-type: none;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.block-text {
  font-size: 16px;
}

.card {
  background-color: #ffffff;
}

.block-text {
  font-size: 16px;
}

.block-title {
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: 0.02em;
}

.header-page {
  color: #e7e9fc;
}
.header-nav {
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
}
.header-logo {
  color: #2e2f42;
}
.nav-pages {
}
.pages-link {
  text-decoration: none;
  font-weight: 500;
  color: #2e2f42;
}
.pages-link:hover,
.pages-link:focus {
  color: #404bbf;
}
.adress-page {
  font-style: normal;
}
.adress-list {
}
.adress-item {
}
.adress-link {
  text-decoration: none;
  color: #434455;
}

.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}

.main-page {
}
.hero-page {
  background-color: #2e2f42;
}
.hero-title {
  color: #ffffff;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-size: 16px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.adv-page {
}
.adv-title {
}
.adv-list {
}
.adv-item {
}
.adv-text {
}
.team-page {
  background-color: #f4f4fd;
}
.team-title {
}
.team-list {
}
.team-card {
}
.team-img {
}
.team-card-title {
}
.team-card-text {
}
.portf-page {
}
.portf-title {
}
.portf-list {
}
.portf-card {
}
.portf-img {
}
.portf-card-title {
}
.portf-card-text {
}
.footer-page {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.footer-page > .logo {
  color: #4d5ae5;
}
.footer-logo {
  color: #f4f4fd;
}
.footer-text {
}
